[user]
	name = Stanley Goldman
[user]
	email = Stanley.Goldman@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[credential]
[credential]
[credential]
[credential]
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	stat = status -b -u --porcelain
[credential]
[push]
	default = simple
