[user]
	name = Stanley Goldman
[user]
	email = Stanley.Goldman@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[alias]
	#https://coderwall.com/p/euwpig/a-better-git-log
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgr = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --remotes
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all

	a = add
	aa = add -A
	ap = add -p

	stat = status -b -u --porcelain
	
	#http://stackoverflow.com/a/7067489/104877
	alias = config --get-regexp ^alias\\.
	
	#idea to open issues by number in a browser
	#issues = "!f() { hub browse -- issues/$1; }; f"
	
	#http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
	#ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
[hub]
	protocol = https
	
[push]
	default = simple
